<div class="storeApp" class="storeApp" [class.opacity-0]="overlayVisible">
  <h1 class="storeHead">STORE</h1>

  <div class="store-header">

    <h3>
      HATS |
    </h3>
    <h3>
      HOODIES |
    </h3>
    <h3>
      SHIRTS
    </h3>
  </div>

  <div *ngFor="let product of products; index as i" id="product{{i}}" className="products">
    <div class="storeImg" [@fadeIn]>
      <a (click)="navProduct(product.id); $event.preventDefault()"> <img [src]="product.image" alt="{{product.name}}">
      </a>
    </div>
    <h2>{{product.name}}</h2>
    <p>{{product.price}}</p>


  </div>

</div>
<div class="subItemLayout" *ngIf="overlayVisible" [class.opacity-0]="isMenuOpen">
  <h2>{{currentProduct.name}}</h2>
  <div class="subImg" [@fadeImg]>
    <img  [src]="currentProduct.image" alt="{{currentProduct.name}}">

  </div>
  <div  #subItemText>
    <p>{{currentProduct.price}}</p>
    <p>{{currentProduct.description}}</p>
    <div class="shopBtn">
      <button (click)="addToCart(currentProduct)">Add to Cart</button>
      <button (click)="purchaseProduct(currentProduct)">Purchase</button>
    </div>
  </div>

</div>