<div class="storeApp" [class.opacity-0]="overlayVisible">
  <h1 class="storeHead">XII00</h1>

  <div class="store-header">

    <h3>
      HATS |
    </h3>
    <h3>
      HOODIES |
    </h3>
    <h3>
      SHIRTS
    </h3>
  </div>

  <div *ngFor="let product of products; index as i" id="product{{i}}" className="products">
    <div class="storeImg" [@fadeIn]>
      <a (click)="navProduct(product.id); $event.preventDefault()"> <img [src]="product.image" alt="{{product.name}}">
      </a>
    </div>
    <h3>{{product.name}}</h3>
    <p>{{product.price}}</p>


  </div>

</div>
<div class="subItemLayout" *ngIf="overlayVisible" [class.opacity-0]="isMenuOpen">

  <div class="subImg" [@fadeImg]>
    <img [src]="currentProduct.image" alt="{{currentProduct.name}}" />

  </div>
  <div class="productDetails">
    <div #subItemText class="subItemText">
      <h2>{{currentProduct.name}}</h2>
      <h2>{{currentProduct.price}}</h2>
    </div>

  </div>
  <div class="productOptions">
    <label for="color">Color:</label>
    <select id="color" name="color">
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <!-- Add more options as needed -->
    </select>
    <br />
    <label for="size">Size:</label>
    <select id="size" name="size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
      <!-- Add more options as needed -->
    </select>
    <br />

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" min="1" max="99" value="1">
    <br />
    <div class="shopBtn">


      <button (click)="addToCart(currentProduct)">Add to Cart</button>

    </div>
  </div>
  <br />
  <div class="productDetails">

    <p>{{currentProduct.description}}</p>
  </div>