.products {}

.storeImg img {
  width: 89%;
  /* Adjust as needed */
  height: auto;
  object-fit: cover;
  /* This will make the image cover the entire width and height of its box */
}
/* mobile */
.subImg{
  align-items: center;
}
.subImg img{
  height:50vh;
  width:  auto;
}
/* desktop */
@media (min-width: 768px) {
  .storeImg img {
    max-width: 50svw;
  }

}

.subItemLayout {
  align-content: start; /* Add this line */
  display: flex;
  flex-direction: column;
  z-index:1002;
  font-family: 'aziano';
  font-weight: 200;
  position: fixed;
  top: 7vh;
  left: 0;
  width: 100%;
  align-items: center;
  color: white;
  overflow: auto;
  /* Add this line */
  background: rgba(0, 0, 0, 1);
}



h3 {
  color: white;
  font-family: "aziano";
  font-weight: 200;
}

h1 {
  color: white;
  font-family: "aziano";
  font-weight: 150;
  font-size: 4vh;
}

.storeHead {
  margin-top: 12%;
  color: white;
}

.store-header {
  display: flex;
  gap: 8px;
  flex-direction: row;
  list-style-type: none;
}

.storeApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 37px;
}

