.products {}

.storeImg img {
  width: 89%;
  /* Adjust as needed */
  height: auto;
  object-fit: cover;
  /* This will make the image cover the entire width and height of its box */
}

.storeImg {
  opacity: 0;
}

.subItemLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



h3 {
  color: white;
  font-family: "aziano";
  font-weight: 200;
}

h1 {
  color: white;
  font-family: "aziano";
  font-weight: 150;
  font-size: 4vh;
}

.storeHead {
  margin-top: 12%;
  color: white;
}

.store-header {
  display: flex;
  gap: 8px;
  flex-direction: row;
  list-style-type: none;
}

.storeApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 200px;
  gap: 37px;
}

@media screen and (max-width: 600px) {
  .products {}
}