@keyframes fadeInFromMiddle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu.open .link a{
  animation: fadeInFromMiddle;
}
.links a {
  display: block;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 3.3vh;
  top: 1.3rem;
  font-family: cursive;
  font-weight: bold;
  color: #fff;
  opacity: 1; /* Add this line */
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .5),
    /* Increased alpha value */
    0 0 5px rgba(0, 0, 0, .5),
    /* Increased alpha value */
    0 1px 3px rgba(0, 0, 0, .6),
    /* Increased alpha value */
    0 3px 5px rgba(0, 0, 0, .5),
    /* Increased alpha value */
    0 5px 10px rgba(0, 0, 0, .6),
    /* Increased alpha value */
    0 10px 10px rgba(0, 0, 0, .5),
    /* Increased alpha value */
    0 20px 20px rgba(0, 0, 0, .4);
  /* Increased alpha value */
}
.links a:link {
  opacity: 0; /* Add this line */
}

.line {
  width: 2rem;
  height: 0.25rem;
  background: whitesmoke;
  margin: 3px 0;
  transition: all 0.3s linear;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 2vh;

  background-color: rgba(0, 0, 0, 0.0);
  transition: background-color 0.5s ease;
  /* Add this line */

}


.menu.open .links {
  opacity: 1;
}

.body.open {
  display: flex;

  transform: translateY(0);
  /* Move to original position when open */
}

header.black-background {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6vh;
  transition: background-color 0.5s ease;
  /* Add this line */

}



.title {
  font-size: 3svh;
  font-weight: bold;
  color: white;
  font-family: cursive;
  opacity: 0.8;
}

header.black-background .title {
  color: white;
}

/* Rotate first line to form 'X' */
.hamburger-menu.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.footer {
  display: flex;
  opacity: 0;
  /* Initially hidden */
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: black;
  border-radius: 2vh;
  width: 90%;
  /* Other styles... */
}

.footer.open {
  flex-direction: row;
  /* Visible when open */
  color: #fff;
  opacity: 0.6;
}

.footer img {
  width: 5vh;
  height: 5vh;
  margin: 10px;
  transition: font-size 2s ease-out 250ms;
}

/* Fade out the middle line */
.hamburger-menu.open .line:nth-child(2) {
  opacity: 0;
}

/* Rotate last line to form 'X' */
.hamburger-menu.open .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Menu Styles */
.menu {
  margin-top: 25svh;
  display: block;
  /* Dark background */
  justify-content: center;
  align-items: center;
  border: none;
  /* Remove border */
  position: absolute;
  /* Adjust as needed */
  right: -1;
  width: 100svw;
  /* Wider menu */
  height: 100svh;
  transition: transform 3s ease;
  /* Smooth animation */
  /* Initially hidden */
  color: white;

  /* Smooth transition */
  /* White text */
}

.menu.open {
  display: block;
  transform: translateX(0);

  .header.line {
    background-color: #fff;
    /* White color when menu is open */

  }

  /* Slide out when open */
}

ol {
  list-style-type: none;
}

.links a {
  /* other properties */
  border: 0.4vh solid transparent;
  /* Thicker border */
  border-radius: 2vh;
  /* Adjust as needed */
  /* Adjust as needed */
  text-decoration: none;
  padding: 1vh 2vh;
  /* Adjust as needed */
  color: white;
  background-clip: padding-box;
  /* Prevent the background from extending to the border */
}

.links a:hover,
.links a:active {
  border-color: #333;
  /* Dark gray border */
 border-radius: 200/2;
}
.menu.open .links a {
  animation: fadeInFromMiddle 0.3s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}
.menu-item {
  padding: 10px 0;
  text-shadow: 1px 1px #ccc, 2px 2px #c9c9c9, 3px 3px #b6b6b6;

  /* More vertical padding */
  font-size: 1.5rem;
  /* Larger text */
}