<div class="header">
  <div class="title">{{ title }}</div>
  <div class="hamburger-menu" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>

<div class="menu" [class.open]="isOpen">
  <nav>
    <b>


      <a routerLink="/home" routerLinkActive="active">Home</a>
      <br />
      <a routerLink="/about" routerLinkActive="active">Store</a>
      <br />
      <a routerLink="/contact" routerLinkActive="active">Hörde</a>
    </b>
  </nav>
</div>

<div class="footer">
  <ul>
    <li>
      Spotify
    </li>
    <li>
      Apple music
    </li>
  </ul>
</div>