<div class="background noise" #background>
  <img src="/assets/background.webp">
</div>



<div class="header" [class.black-background]="isScrolled">
  <div class="title">{{ title }}</div>
  <div class="hamburger-menu" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>


<div class="menu" [class.open]="isOpen" [class.closed]="!isOpen">
  <nav>
    <b>
      <ol class="links">
        <li><a routerLink="/store" routerLinkActive="active">Store</a></li>
        <li><a routerLink="/horde" routerLinkActive="active">Hórde</a></li>
      </ol>
    </b>
  </nav>
</div>

<section>
  <div class="mailBox" #mailBox>
    <h1>
      Join the Hórde
    </h1>
    <form action="https://yourusername.us1.list-manage.com/subscribe/post?u=XXXXXXXXXXXXX" method="post"
      target="_blank">
      <input type="email" placeholder="Email Address" name="EMAIL" required>

      <button type="submit">Submit</button>
    </form>
  </div>
</section>
<!-- Go to your Mailchimp account, navigate to the Audience tab.
Click the Manage Audience drop-down and choose Signup forms.
Select Embedded forms.
Choose a form type — Classic, Horizontal, or Unstyled — and customize the form options.
Copy the form action URL from the generated code. It should look something like this: https://yourusername.us1.list-manage.com/subscribe/post?u=XXXXXXXXXXXXX.-->





<div class="footer" [class.open]="isOpen" [class.closed]="!isOpen">



  <a>
    <img src="/assets/Music.png">
  </a>
  <a>
    <img src="/assets/Spotify.png">
  </a>


</div>