

.body.open {
  display: flex;
  transform: translateY(0);
}

header.black-background .title {
  color: white;
}

/* Rotate first line to form 'X' */
.hamburger-menu.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}




.menu-item1 {
  padding: 6px 3px;
  font-size: 4.3vw;
  text-shadow:
  0 1px 0 rgba(204, 204, 204, 0.5),
  0 2px 0 rgba(201, 201, 201, 0.5),
  0 3px 0 rgba(187, 187, 187, 0.5),
  0 4px 0 rgba(185, 185, 185, 0.5),
  0 5px 0 rgba(170, 170, 170, 0.5),
  0 6px 1px rgba(0, 0, 0, 0.1),
  0 0 2.5px rgba(0, 0, 0, 0.1),
  0 1px 1.5px rgba(0, 0, 0, 0.15),
  0 3px 2.5px rgba(0, 0, 0, 0.1),
  0 5px 5px rgba(0, 0, 0, 0.15),
  0 10px 5px rgba(0, 0, 0, 0.1),
  0 20px 10px rgba(0, 0, 0, 0.05);
}

.menu-item2 {
  padding: 6px 3px;
  text-shadow: 0.5px 0.5px rgba(204, 204, 204, 0.2), 0.7px 0.7px rgba(201, 201, 201, 0.2), 0.6px 0.6px rgba(182, 182, 182, 0.2);
  font-size: 2.7vw;
}