/* Hamburger Menu Styles */
.hamburger-menu {
 cursor: pointer;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 width: 2rem;
 height: 2rem;
 position: relative;
 transition: transform 0.3s ease; /* Smooth animation */
}

.line {
 width: 2rem;
 height: 0.25rem;
 background: #333;
 margin: 3px 0;
 transition: all 0.3s linear;
}

/* Rotate first line to form 'X' */
.hamburger-menu.open .line:nth-child(1) {
 transform: rotate(-45deg) translate(-5px, 6px);
}

/* Fade out the middle line */
.hamburger-menu.open .line:nth-child(2) {
 opacity: 0;
}

/* Rotate last line to form 'X' */
.hamburger-menu.open .line:nth-child(3) {
 transform: rotate(45deg) translate(-5px, -6px);
}

/* Menu Styles */
.menu {
 display: none;
 background-color: #f9f9f9;
 padding: 10px;
 border: 1px solid #ddd;
 position: absolute;
 top: 2vh; /* Adjust as needed */
 right: 15vh;
 width: 100vh;
 transition: transform 0.3s ease; /* Smooth animation */
 transform: translateY(-100%); /* Initially hidden */
}

.menu.open {
 display: block;
 transform: translateY(0); /* Slide down when open */
}