/* You can add global styles to this file, and also import other style files */

html, body{

  /* Disable horizontal scrolling */


  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0,0, 1), rgba(0, 0, 0, 1));
overflow-x: hidden;
  overflow-y: auto;
}

.links a {
  font-family: 'anziano';
  font-weight: 100;
  font-size: larger;
}

input[type="email"] {
  height: 4.5em;
  /* Adjust this value as needed */
  width: 15em;
  /* Adjust this value as needed */
}

button {
  height: 5em;
  pointer-events: fill;
  /* Adjust this value as needed */
  width: 8em;
  /* Adjust this value as needed */
}

.background::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  /* This will position it at the top of the parent container */
  left: 0;
  bottom: 0;
  /* This will stretch it to the bottom of the parent container */
  width: 100%;
  opacity: 1;
  pointer-events: none;
  animation: noiseFX 3s infinite;
  background: url('/assets/noise.png');
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
z-index: 3;
}

.links {
  padding-top: 2vh;
}

.background {
  position: relative;
  width: 100%;
  height: 70svh;
  display: flex;
  /* Add this line */
  justify-content: center;
  /* Add this line */
  align-items: center;
  /* Add this line */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




.inputgroup {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* Pushes children to the bottom */
  /* Full height of the viewport */
  margin-top: 1%;
}

.mailBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mailBox form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInFromMiddle {
  from {
    opacity: 0;
    transition-timing-function: ease-in;
  }

  to {
    opacity: 1;
  }
}

@keyframes noiseFX {
  0%, 100% {
    opacity: 0.2; /* Lower value = stronger effect */
  }

  10% {
    opacity: 0.22;
  }

  20% {
    opacity: 0.24;
  }

  30% {
    opacity: 0.26;
  }

  40% {
    opacity: 0.28;
  }

  50% {
    opacity: 0.3; /* Lower maximum value = less grainy effect */
  }

  60% {
    opacity: 0.28;
  }

  70% {
    opacity: 0.26;
  }

  80% {
    opacity: 0.24;
  }

  90% {
    opacity: 0.22;
  }
}

@keyframes zoomOut {
  0% {
    /* Start zoomed in */
  }

  100% {
    transform: scale(1.0);
    /* End at original size */
  }
}

@-webkit-keyframes fadeInFromMiddle {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}



.footerImg {
  height: 4svw;
  width: 3svw;
}


ol {
  list-style-type: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Creates three columns */
  align-items: center;

  transition: background-color 0.5s ease;
  position: absolute;
  /* Change this from relative to absolute */
  top: 1.2vh;
  /* Position it at the top of the nearest positioned ancestor */
  width: 100%;
  /* Make it span the full width */
  z-index: 999;
  /* This should be higher than the z-index of .background and .background img */
}

.music-icons{
  display: flex;
  opacity:1;
}
.music-icons .hide-element {
  display: none !important;
  opacity: 0;
}
.music-icons 
.music-icons a img {
  margin: 0 10px 0 20px; /* Adds 20px of space on the left side of each image */
}
@media (max-width: 600px) {
  .background{
    height: 100svh;
    width: 100%;
  }
  .music-icons{
    opacity: 0;
    display: none;
  }
  .hamburger-menu {
    width: 2.4rem;
    /* Reduce size on small screens */
    height: 2.4rem;
    /* Reduce size on small screens */
  }
  .menu-open .overlay{
    display: block;
    opacity: 0.3;/* Show the overlay */
    position:fixed;
    
  }
  
.header > :first-child {
  justify-self: center; /* Horizontally centers the first child */
  grid-column: 2; /* Places the first child in the second column */

}
.overlay-icons{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.header > :last-child {
  grid-column: 3; /* Places the last child in the third column */

  justify-self: start; /* Aligns the last child to the right */
}
  .header{
  grid-template-columns: 1fr 2fr 1fr; /* Creates three columns */

  }
  .navbar {
    padding: 0.5rem 1rem;
    /* Reduce padding on small screens */
  }
}

/* Hamburger Menu Styles */
.hamburger-menu {
  cursor: pointer;
  justify-self: flex-end;
  position: relative;
  margin-right: 30px;
  z-index: 10; /* Higher than .overlay's z-index */
  
  transition: transform 0.3s ease;
  /* Smooth animation */
  color: white;
}

/* Fade out the middle line */
.hamburger-menu.open .line:nth-child(2) {
  opacity: 0;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out; /* Transition the opacity over 0.5 seconds */
  animation: slideInFromBottom 0.5s forwards; /* Apply the animation */
  background: rgba(0, 0, 0, 1); /* Solid black */

  opacity: 0; /* Initially hidden */
  z-index: 5;
  /* This should be higher than the z-index of .background and .hamburger-menu */
  display: none;
  /* Initially hidden */
}

.footer {
  display: flex;
  opacity: 0;
  flex-direction: row;
  /* Initially hidden */
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
  /* Move it off-screen */
  /* flex grow shrink basis */
  flex: 2 2 8svw;
  /* Other styles... */
  z-index: 3;
}

.background .image {
  position: relative;
  /* Add this to make .background a positioned ancestor */
  background-size: cover; 
  /* Add this line */
  z-index: 2;
  width: 100%;
  height: 100%;
  background-position: center;
  background-color: rgba(0,0,0,0.8);
  /* Start zoomed in */
  background-image: url("/assets/background.webp")
}

.menu.open {
  display: block;
  transform: translateX(0);
  z-index: 4;

  .header.line {
    background-color: #fff;
    /* White color when menu is open */

  }

  /* Slide out when open */
}

.footer.open {
  display: flex;
  /* Add this if not already present in your CSS */
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
  position: fixed;
  left: 50%;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
  /* Animate the transform property */
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.7em;
  animation: fadeInUp 2s ease-out forwards;
  opacity: 1;
  max-width: fit-content;
}


/* Rotate last line to form 'X' */
.hamburger-menu.open .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.menu.open .link a {
  animation: fadeInFromMiddle;
}

.links a {
  display: block;
  margin: 5px;
  color: whitesmoke; /* Darker color for better contrast against light background */
  font-weight: 100;

  text-decoration: none;
  font-size: 2.7vh;
  top: 2.2rem;
  font-family: 'aziano';
  opacity: 1;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .5),
    0 0 5px rgba(0, 0, 0, .5),
    0 1px 3px rgba(0, 0, 0, .6),
    0 3px 5px rgba(0, 0, 0, .5),
    0 5px 10px rgba(0, 0, 0, .6),
    0 10px 10px rgba(0, 0, 0, .5),
    0 20px 20px rgba(0, 0, 0, .4);
}
.links {
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  /* Adjust as needed */
}
.mailChimpHeader{
  padding-bottom: 10px; /* Adds padding to the bottom of the title */
  font-size: 2.3rem;
  white-space: pre-wrap;
  font-family: "aziano";
  font-weight: 100;
  color: white;
}
.menu {
  top: 30%;
  display: block;
  /* Dark background */
  justify-content: center;
  align-items: center;
  border: none;
  /* Remove border */
  position: absolute;
  /* Adjust as needed */
  right: -1;
  width: 100%;
  /* Wider menu */
  height: 5svh;
  transition: transform 4s ease;
  /* Smooth animation */
  /* Initially hidden */

  /* Smooth transition */
  /* White text */
}

.title {
  font-size: 2.7svh;
  font-weight: thin;
  color: white;
  font-family: "anziano";
  opacity: 1;
    text-align: center; /* Centers the title in its column */

}
