html,
body {

  /* Disable horizontal scrolling */
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}



.line {
  width: 2rem;
  height: 0.25rem;
  background: whitesmoke;
  margin: 10px 0;
  transition: all 0.3s linear;
}



.title {
  font-size: 5vw;
  font-weight: 200;
  color: white;

  font-family: 'minerva-modern';
  opacity: 1;
  text-align: center;
  /* Centers the title in its column */

}


.links a {
  display: block;
  margin-bottom: 40px;
  /* Adjust this value to increase or decrease the space */
}

.menu {
  top: 40%;
  /* Dark background */
  justify-content: space-evenly;
  align-items: center;
  border: none;
  animation: fadeInFromMiddle 2s cubic-bezier(0.42, 0, 0.58, 1.0);
  color: white;
  text-align: center;
  cursor: pointer;
  /* Remove border */
  position: absolute;
  /* Adjust as needed */
  right: -1;
  /* Wider menu */
  z-index: 4;
  /* Smooth animation */
  /* Initially hidden */

  /* Smooth transition */
  /* White text */
}

.menu>* {
  display: block;
  width: 100%;
  /* ...other styles... */
}


button {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

input[type="email"] {
  height: 3.6rem;
  /* Adjust this value as needed */
  width: 14rem;
  /* Adjust this value as needed */
}

button {
  height: 4rem;
  pointer-events: all;
  /* Adjust this value as needed */
  width: 6.4rem;
  /* Adjust this value as needed */
}

.background::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  /* This will position it at the top of the parent container */
  left: 0;
  bottom: 0;
  /* This will stretch it to the bottom of the parent container */
  width: 100%;
  opacity: 1;
  pointer-events: none;
  animation: fadein 3s, noiseFX 3s infinite;
  background: url('/assets/noise.png');
  background-color: rgba(0, 0, 0, 0.96);
  /* Semi-transparent black overlay */
  z-index: 3;
}



.background {
  position: relative;
  width: 100%;
  height: 68%;
  display: flex;
  /* Add this line */
  justify-content: center;
  /* Add this line */
  align-items: center;
  /* Add this line */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




.inputgroup {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 6%;
  /* Pushes children to the bottom */
  /* Full height of the viewport */
}

.mailBox {
  animation: fadeInFromMiddle 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: flex;
  padding-bottom: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mailBox form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@keyframes fadeInFromMiddle {
  from {
    opacity: 0;
    transition-timing-function: ease-in;
  }

  to {
    opacity: 1;
  }
}

.header .scrolled {
  background-color: rgba(0, 0, 0, 0.9);
  animation: fadein 3s;

}

@keyframes noiseFX {

  0%,
  100% {
    opacity: 0.35;
    /* Lower starting value = stronger effect */
  }

  10% {
    opacity: 0.38;
  }

  20% {
    opacity: 0.40;
  }

  30% {
    opacity: 0.405;
  }

  40% {
    opacity: 0.41;
  }

  50% {
    opacity: 0.43;
  }

  60% {
    opacity: 0.46;
  }

  70% {
    opacity: 0.40;
  }

  80% {
    opacity: 0.39;
    /* Higher maximum value = more grainy effect */
  }
}


@-webkit-keyframes fadeInFromMiddle {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 1;
  }
}





.fade-in {
  animation: fadeInFromMiddle 1s ease-in forwards;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
  position: absolute;
  top: 1.8vh;

  width: 100%;
  z-index: 999;
  animation: fadeInFromMiddle 0.6s cubic-bezier(0.42, 0, 0.58, 1.0);
}

.music-icons {
  display: flex;
  flex-direction: row;
  opacity: 1;
  gap: 2vw;

  justify-content: center;
  flex-direction: row;
}

.music-icons img {
  width: 100%;
  height: 1.3em;
}





.hamburger-menu .hide-element {
  display: none !important;
  opacity: 0;
}

.music-icons .hide-element {
  display: none !important;
  opacity: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}





@media not (max-width: 700px) {
  .hamburger-menu {
    display: none;
  }

  .mailBox {
    display: flex;
    margin-top: 2%;
  }


  /* DESKTOP*/
  .headerLinks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    pointer-events: all;
    z-index: 6;
    color: white;
    font-weight: 150;
    font-family: 'minerva-modern';
    font-size: 1.3em;
    /* Increase font size */
    width: 100%;
    /* Take full width of the parent */
    text-align: center;
    /* Center the text */
    margin-left: 3%;

  }

  .headerLinks a {
    flex: 1;

  }

}

.overlay{
  display:none;
}

@media (max-width: 700px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Transition the opacity over 0.5 seconds */
    animation: fadeInFromMiddle 0.75s cubic-bezier(0.42, 0, 0.58, 1.0);
    /* Apply the animation */
    background: rgba(0, 0, 0, 1);
    /* Solid black */
  
    /* Initially hidden */
    z-index: 5;
    /* This should be higher than the z-index of .background and .hamburger-menu */
    /* Initially hidden */
  }
  .links .menu-item1 a {
    font-size: 15vw;
  }

  .links .menu-item2 a {
    font-size: 13vw;
  }

  .mailBox {
    margin-top: 4%;
  
  }

  .background {
    height: 100svh;
    width: 100svw;
  }



  .overlay-links {
    display: flex;
    gap: 25px;
    position:absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
    color: white;
    margin-top: 43svh;
    font-weight: 100;
    font-family: 'anziano';
    font-size: 7.3vw;
    /* Increase font size */
    width: 100%;
    /* Take full width of the parent */
    text-align: center;
    /* Center the text */

  }

  .music-icons {
    opacity: 0;
    display: none;
  }

  .hamburger-menu {
    width: 2.4rem;
    /* Reduce size on small screens */
    height: 2.4rem;
    display: block;
    /* Reduce size on small screens */
    cursor: pointer;
    justify-self: flex-end;
    position: relative;
    z-index: 10;
    opacity: 1;
    /* Higher than .overlay's z-index */
    transition: transform 0.3s ease;
    /* Smooth animation */
    color: white;

  }

  .menu-open .overlay {
    display: block;
    position: fixed;

  }

  .headerLinks {
    display: none;
  }

  .music-icons {
    flex-direction: row-reverse;
  }

  .header> :first-child {
    justify-self: center;
    /* Horizontally centers the first child */
    grid-column: 1;
    /* Places the first child in the second column */

  }


  .overlay-icons img {
    width: auto;
    height: 2.3rem;
  }

  .overlay-icons {
    position: fixed;
    bottom: 100px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .header> :last-child {
    grid-column: 3;
    /* Places the last child in the third column */

    justify-self: start;
    /* Aligns the last child to the right */
  }

  .header {
    grid-template-columns: 1fr 2fr 0.5fr;
    /* Creates three columns */
    display: grid;
    align-items: center;
    transition: background-color 0.8s ease-in-out;
    position: absolute;
    top: 1.8vh;
    width: 100%;
    z-index: 999;

  }

  .navbar {
    padding: 0.5rem 1rem;
    /* Reduce padding on small screens */
  }
}

/* Hamburger Menu Styles */


/* Fade out the middle line */
.hamburger-menu.open .line:nth-child(2) {
  opacity: 0;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}





.background .image {
  position: relative;
  /* Add this to make .background a positioned ancestor */
  background-size: cover;
  /* Add this line */
  z-index: 2;
  width: 100%;
  height: 100%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.9);
  /* Start zoomed in */
  background-image: url("/assets/background.webp")
}





/* Rotate last line to form 'X' */
.hamburger-menu.open .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}







.mailChimpHeader {
  /* Adds padding to the bottom of the title */
  font-size: 2.6rem;
  font-family: 'minerva-modern';
  font-weight: 100;
  color: white;
}