html,
body {

  /* Disable horizontal scrolling */
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 0;

  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.title {
  margin-left: 6%;
}

.links a {
  font-family: 'anziano';
  font-weight: 100;
  font-size: larger;
  color: white;
}
button{
  background-color: rgba(0,0,0,0.3);
}
input[type="email"] {
  height: 3rem;
  /* Adjust this value as needed */
  width: 12rem;
  /* Adjust this value as needed */
}

button {
  height: 3rem;
  pointer-events: all;
  /* Adjust this value as needed */
  width: 6rem;
  /* Adjust this value as needed */
}

.background::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  /* This will position it at the top of the parent container */
  left: 0;
  bottom: 0;
  /* This will stretch it to the bottom of the parent container */
  width: 100%;
  opacity: 1;
  pointer-events: none;
  animation: noiseFX 5s infinite;
  background: url('/assets/noise.png');
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent black overlay */
  z-index: 3;
}

.links {
  padding-top: 2vh;
}

.background {
  position: relative;
  width: 100%;
  height: 73svh;
  display: flex;
  /* Add this line */
  justify-content: center;
  /* Add this line */
  align-items: center;
  /* Add this line */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




.inputgroup {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 300px;
  /* Pushes children to the bottom */
  /* Full height of the viewport */
}

.mailBox {
  animation: fadeInFromMiddle 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12vh;
  justify-content: center;
}

.mailBox form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInFromMiddle {
  from {
    opacity: 0;
    transition-timing-function: ease-in;
  }

  to {
    opacity: 1;
  }
}

.header .scrolled {
  background-color: rgba(0, 0, 0, 0.9);
  animation: fadein 3s;

}

@keyframes noiseFX {

  0%,
  100% {
    opacity: 0.3;
    /* Lower starting value = stronger effect */
  }

  10% {
    opacity: 0.32;
  }

  20% {
    opacity: 0.34;
  }

  30% {
    opacity: 0.35;
  }

  40% {
    opacity: 0.36;
  }

  50% {
    opacity: 0.4;
    /* Higher maximum value = more grainy effect */
  }

  60% {
    opacity: 0.37;
  }

  70% {
    opacity: 0.36;
  }

  80% {
    opacity: 0.35;
  }

  90% {
    opacity: 0.35;
  }
}


@-webkit-keyframes fadeInFromMiddle {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}





.fade-in {
  animation: fadeInFromMiddle 1s ease-in forwards;
}


.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* Creates three columns */
  align-items: center;
  transition: background-color 0.5s ease-in-out;
  position: absolute;
  /* Change this from relative to absolute */
  top: 1.8vh;
  /* Position it at the top of the nearest positioned ancestor */
  width: 100%;
  /* Make it span the full width */
  z-index: 999;
  /* This should be higher than the z-index of .background and .background img */
}


.music-icons img{
 width: auto;
 height: 3vh;
}
.music-icons {
  display: flex;
  flex-direction: row;
  opacity: 1;
  width: 100%;
  gap: 20px;

justify-content: center;
flex-direction: row;
}
.hamburger-menu .hide-element {
  display: none !important;
  opacity: 0;
}
.music-icons .hide-element {
  display: none !important;
  opacity: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}




@media (max-width: 550px) {
  .background {
    height: 100vh;
    width: 100vw;
  }

  .music-icons {
    opacity: 0;
    display: none;
  }

  .hamburger-menu {
    width: 2.4rem;
    /* Reduce size on small screens */
    height: 2.4rem;
    /* Reduce size on small screens */
  }

  .menu-open .overlay {
    display: block;
    position: fixed;

  }

  .music-icons {
    flex-direction: row-reverse;
  }

  .header> :first-child {
    justify-self: center;
    /* Horizontally centers the first child */
    grid-column: 1;
    /* Places the first child in the second column */

  }
  .overlay-links {
    position: fixed;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70%;
    z-index: 6;
    color: white;
    font-weight: 100;
    font-family: 'anziano';
    font-size: 2.3em; /* Increase font size */
    width: 100%; /* Take full width of the parent */
    text-align: center; /* Center the text */
  }
  .overlay-icons img{
    height: 4vh;
    width: 4vh;
  }
  .overlay-icons {
    position: fixed;
    bottom: 12vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .header> :last-child {
    grid-column: 3;
    /* Places the last child in the third column */

    justify-self: start;
    /* Aligns the last child to the right */
  }

  .header {
    grid-template-columns: 1fr 2fr 0.5fr;
    /* Creates three columns */

  }

  .navbar {
    padding: 0.5rem 1rem;
    /* Reduce padding on small screens */
  }
}

/* Hamburger Menu Styles */
.hamburger-menu {
  cursor: pointer;
  justify-self: flex-end;
  position: relative;
  margin-right: 30px;
  z-index: 10;
  display: block;
  opacity: 1;
  /* Higher than .overlay's z-index */
  transition: transform 0.3s ease;
  /* Smooth animation */
  color: white;
}

/* Fade out the middle line */
.hamburger-menu.open .line:nth-child(2) {
  opacity: 0;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  /* Transition the opacity over 0.5 seconds */
  animation: slideInFromBottom 0.5s forwards;
  /* Apply the animation */
  background: rgba(0, 0, 0, 1);
  /* Solid black */

  /* Initially hidden */
  z-index: 5;
  /* This should be higher than the z-index of .background and .hamburger-menu */
  display: none;
  /* Initially hidden */
}



.background .image {
  position: relative;
  /* Add this to make .background a positioned ancestor */
  background-size: cover;
  /* Add this line */
  z-index: 2;
  width: 100%;
  height: 100%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.9);
  /* Start zoomed in */
  background-image: url("/assets/background.webp")
}

.menu.open {
  display: block;
  transform: translateX(0);
  z-index: 4;

  .header.line {
    background-color: #fff;
    /* White color when menu is open */

  }

  /* Slide out when open */
}



/* Rotate last line to form 'X' */
.hamburger-menu.open .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu.open .link a {
  animation: fadeInFromMiddle;
}



.links {
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  /* Adjust as needed */
}

.mailChimpHeader {
  padding-bottom: 10px;
  /* Adds padding to the bottom of the title */
  font-size: 2.3rem;
  white-space: pre-wrap;
  font-family: "aziano";
  font-weight: 100;
  color: white;
}

.menu {
  top: 30%;
  display: block;
  /* Dark background */
  justify-content: center;
  align-items: center;
  border: none;
  /* Remove border */
  position: absolute;
  /* Adjust as needed */
  right: -1;
  width: 100%;
  /* Wider menu */
  height: 5svh;
  transition: transform 4s ease;
  /* Smooth animation */
  /* Initially hidden */

  /* Smooth transition */
  /* White text */
}

.title {
  font-size: 2.7svh;
  font-weight: thin;
  color: white;
  font-family: "anziano";
  opacity: 1;
  text-align: center;
  /* Centers the title in its column */

}